services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    volumes:
      - ollama:/root/.ollama
    ports:
      - "11434:11434"
    restart: always

  specer-backend:
    build: .
    container_name: specer-backend
    ports:
      - "8001:8000"
    volumes:
      - ./data:/app/data
      - ./server:/app/server
      - ./static:/app/static
    environment:
      - OLLAMA_HOST=http://ollama:11434
    depends_on:
      - ollama
    command: uvicorn server.main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  ollama:
    external: true
