[project]
name = "specer"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi",
    "uvicorn",
    "httpx",
    "numpy",
]

[dependency-groups]
dev = [
    "pytest>=9.0.2",
]
